@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;

    --color-1: yellowgreen;
    --color-2: rgb(199, 247, 104);
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.gallery {
    max-width: 50rem;
    max-height: 40rem;

    position: relative;

    /* width: 50rem;
    height: 40rem; */
}

.gallery__btn {
    background-color: transparent;
    font-size: 5rem;
    cursor: pointer;
    line-height: 1;
    padding: -1rem 0;
    color: var(--color-1);
    outline: none;
    border: none;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.gallery__btn:active {
    color: var(--color-2);
}

.gallery__btn--left {
    left: 2rem;
}

.gallery__btn--right {
    right: 2rem;
}

.gallery__content {
    position: relative;
}

.gallery__content__box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.gallery__content__box--primary {
    width: 100%;
    height: 100%;
}
.gallery__content__box--primary img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__content__box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery__dots {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 0.5rem;
}

.gallery__dots__dot {
    background-color: var(--color-1);
    border-radius: 50%;
    padding: 1rem;
}

.gallery__dots__dot--active {
    background-color: var(--color-2);
}
